<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>horoscopeName</key>
            <string>Pisces</string>
            <key>chineseName</key>
            <string>雙魚座</string>
            <key>startDate</key>
            <string>0220</string>
            <key>endDate</key>
            <string>0320</string>
            <key>luckyDay</key>
            <string>Tuesday</string>
            <key>description</key>
            <string>擁有不錯的創造力，善良、柔弱惹人憐愛、浪漫、善解人意、喜歡參加活動、重感情，缺點是沒有金錢概念、為別人而活、濫情、容易受騙、視愛情為最重要、敏感、易受傷害、好強、有時很臭屁。</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Aquarius</string>
            <key>chineseName</key>
            <string>水瓶座</string>
            <key>startDate</key>
            <string>0121</string>
            <key>endDate</key>
            <string>0219</string>
            <key>luckyDay</key>
            <string>Saturday</string>
            <key>description</key>
            <string>口才好人緣佳、睿智、好奇心強、博愛、果斷、創造流行打破傳統、喜歡閱讀課外讀物、富同情心、喜歡助人、不善理財、愛好自由、不切實際、對穿著不注重、自負、固執。</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Capricorn</string>
            <key>chineseName</key>
            <string>山羊座</string>
            <key>startDate</key>
            <string>1221</string>
            <key>endDate</key>
            <string>0120</string>
            <key>luckyDay</key>
            <string>Friday</string>
            <key>description</key>
            <string>按步就班、誠實、忠實可靠、耐力強、善理財、努力不倦、節儉、愛現、有明確的目標，沒有求新的本能、擇善固執、害羞、不善交際、喜怒不形於色、有點孤獨，不喜歡求助他人、喜歡掌權、疑心病重。</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Sagittarius</string>
            <key>chineseName</key>
            <string>射手座</string>
            <key>startDate</key>
            <string>1122</string>
            <key>endDate</key>
            <string>1220</string>
            <key>luckyDay</key>
            <string>Monday</string>
            <key>description</key>
            <string>不會記恨且熱情開朗、樂觀、誠實、具領導能力、喜歡運動、善良、見義勇為、以旅行為樂，說話常不經意傷害別人、三分鐘熱度，對許多事無法從一而終、粗心大意、敏感、喜歡追求刺激多變的生活、愛自由不喜歡被束縛。</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Scorpio</string>
            <key>startDate</key>
            <string>1024</string>
            <key>endDate</key>
            <string>1121</string>
            <key>luckyDay</key>
            <string>Friday</string>
            <key>description</key>
            <string>為人熱情、真誠忠心、冷靜、神秘、愛恨分明、機智多謀、富創意、沈默寡言、多情、外冷內熱、能洞悉別人的心思、有責任感、完美主義、直覺敏銳、機靈聰明、主觀意識強，缺點是善妒的、多疑、感情用事、倔強固執、易記恨。</string>
            <key>chineseName</key>
            <string>天蠍座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Libra</string>
            <key>startDate</key>
            <string>0923</string>
            <key>endDate</key>
            <string>1023</string>
            <key>luckyDay</key>
            <string>Thursday</string>
            <key>description</key>
            <string>追求公正且厭惡不公平、興趣廣泛、很浪漫、喜歡參加活動、隨性隨和、笑臉迎人、喜歡和朋友在一起、博愛、高度的審美觀，極為被動、優柔寡斷，舉止幽雅，喜歡辯論、容易以貌取人、任性、喜歡說話。</string>
            <key>chineseName</key>
            <string>天秤座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Virgo</string>
            <key>startDate</key>
            <string>0823</string>
            <key>endDate</key>
            <string>0922</string>
            <key>luckyDay</key>
            <string>Friday</string>
            <key>description</key>
            <string>完美主義者，細心、體貼、熱心服務、任勞任怨、喜歡思考學習、念舊、守信用且討厭不守信之人、憎恨邪惡（ 討厭看有壞人的連續劇 ）、挑剔、完美主義和現實主義者、有潔癖、固執、打開話匣子嘴巴停不了、焦慮易怒。</string>
            <key>chineseName</key>
            <string>處女座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Leo</string>
            <key>startDate</key>
            <string>0723</string>
            <key>endDate</key>
            <string>0822</string>
            <key>luckyDay</key>
            <string>Wednesday</string>
            <key>description</key>
            <string>善於解決他人之事、具王者風範、幽默、心胸寬大、公正、慷慨大方、專情、多點子、熱情開朗、愛面子、愛現、不喜歡接受幫助、固執、霸道、驕傲、不論男女都很重視事業。</string>
            <key>chineseName</key>
            <string>獅子座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Cancer</string>
            <key>startDate</key>
            <string>0622</string>
            <key>endDate</key>
            <string>0722</string>
            <key>luckyDay</key>
            <string>Thursday</string>
            <key>description</key>
            <string>善理財、具母性、喜歡照顧別人、有責任感、坦白的、神秘的、好吃的、愛錢、節儉的、怕得罪他人、能保守秘密的、理解力強、未雨綢繆、念舊、敏感、霸道、容易受傷害、優柔寡斷、多愁善感。</string>
            <key>chineseName</key>
            <string>巨蟹座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Gemini</string>
            <key>startDate</key>
            <string>0521</string>
            <key>endDate</key>
            <string>0621</string>
            <key>luckyDay</key>
            <string>Wednesday</string>
            <key>description</key>
            <string>博愛、擅長交際、反應靈敏、具多變的性格、喜歡說謊、好奇心重、智商高、事情往往朝壞處想、喜歡往外跑、個性外向活潑、善辯的。缺點是缺乏耐性、無法忍受單調無變化的環境、機警、有時很咶噪、任性、容易因小事生氣、粗枝大葉，喜歡辯論。</string>
            <key>chineseName</key>
            <string>雙子座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Taurus</string>
            <key>startDate</key>
            <string>0420</string>
            <key>endDate</key>
            <string>0520</string>
            <key>luckyDay</key>
            <string>Sunday</string>
            <key>description</key>
            <string>懂得理財創造財富、誠實有耐性、幽默、慢條斯理、優雅、現實主義、愛好美的東西、喜歡美食，女性是具有高度母愛的星座，高度的審美觀、節儉、有耐力、不易發脾氣、溫順。缺點是固執、被動、任性、沒什麼主見、不善交際。</string>
            <key>chineseName</key>
            <string>金牛座</string>
        </dict>
        <dict>
            <key>horoscopeName</key>
            <string>Aries</string>
            <key>startDate</key>
            <string>0321</string>
            <key>endDate</key>
            <string>0419</string>
            <key>luckyDay</key>
            <string>Tuesday</string>
            <key>description</key>
            <string>樂觀、誠實、好動、只對自己想知道的事情有興趣、充滿動力、喜歡強者、熱情、不拘小節、具領導能力、見義勇為。缺點是性急、容易生氣、剛愎自用、說話直接容易得罪人、愛現、好大喜功、爭功諉過、缺乏團隊精神。</string>
            <key>chineseName</key>
            <string>牡羊座</string>
        </dict>
    </array>
</plist>